/*Inter Font family style link  */
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Inter:wght@200&family=Italianno&family=Lilita+One&family=Poppins:wght@500&display=swap');

/* about Section style start*/
.about-section {
    margin-top: 32px;

}

.about-left-headLine {
    Font-family: 'Inter';
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 25px;
    Font-size: 30px;
    text-align: center;
    Line-height: 36px;
    Line-height: 100%;
    text-transform: uppercase;
}

.about_us {
    color: #C17575;
    font-size: 100px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    width: 1000px;
    margin: auto;
}

.about_us:before {
    content: 'About Us';
    position: absolute;
    display: block;
    top: 2px;
    left: 250px;
    color: black;
    background: -webkit-linear-gradient(-90deg, rgba(26, 53, 53, 0.93), #D4BCBC, #884444, #D4BCBC, #884444, #D4BCBC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-left {

    border: #636363 solid .1px;
    box-shadow: 0 0 10px 5px;
    border-top-width: 10;
}

.about-left-paregraph {
    color: #ECE87F;
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

.about_img {
    width: 500px;
    height: 590px;
}

.a {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}