/* font family style */
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Inter:wght@200&family=Italianno&family=Lilita+One&family=Poppins:wght@500&display=swap');

.status-bar-left li {
    list-style-type: none;
    margin-right: 18px;
    font-size: 20px;
    color: white
}

.follow_us {
    margin-right: 18px;
    font-size: 20px;
    color: white;
    margin-bottom: 0;
}

.status-bar-right a.link {
    list-style-type: none;
    margin-right: 18px;
    font-size: 20px;
    color: white
}

.nav-bg-color {
    background-color: rgb(1, 63, 83);
}

.nav-logo {
    width: 35px;
    height: 50px;
    transition: transform 0.9s;
}

.nav-logo:hover {
    transform: scale(1.2);
}

.navbar-togglers {
    background-color: white;
    border: none;
    padding: 10px 16px;
    outline: none;

}

.navbar .icon_color {
    color: white;
}

.item {
    color: white;
}

.logo_body {
    border-right: solid 1px black;
}

.nav-logo img {
    width: 170px;
    height: 100px;

}

.txt_color {
    color: aliceblue !important;
    font-family: 'Inter', sans-serif;
    margin-left: 15px !important;
    padding: 2px 8px;

}

.text-decoration {
    font-size: 3rem;
    font-weight: 700;
}

.tex_color:hover {
    color: black !important;
}

/* demo slider style start */
.multi-item-carousel .carousel-inner>.item {
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}

.multi-item-carousel .carousel-inner .next {
    left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner>.item {
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        -webkit-backface-visibility: visible;
        backface-visibility: visible;
        transform: none !important;
    }
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}

h1 {
    color: white;
    font-size: 2.25em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    text-shadow: 0px 2px 0px #000000;
}



@media only screen and (max-width:420px) {
    .nav-logo img {
        width: 100px;
        background-color: aqua;
        height: 115px;
        transition: transform 0.9s;

    }

    .nav-logo:hover {
        transform: scale(1.2);
    }
}